@media(max-width :500px){
    .icon{
        display: block;
        position: relative;
       z-index: 1;
    }
    .text{
        display: none;
    }
    body {
        background-color: #FFBB8A;
    }
    .header{
        align-items: center ;
        height: 100px;
        padding: 20px;
        background-color: white;
        margin-top: 0;
    }
    .logo{
       display: none;
       
    }
    .header button{
        width: 160px;
        height: 45px;
    }
    .logo1{
        display: block;
        position: relative;
        z-index: 1;
    }
    .all{
        display: flex;
        flex-direction:column-reverse;
        margin-top: 0px;

    }
    .jpg{
       width: 390px;
       position: absolute;
       top: 1px;
       left: 0px;
       background-color: white;
       
       
    
       
    }
    .air{
        width: 80%;
        width: 108px;
    }
    .box1{
        margin-top: 260px;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 100px;
       
    }
    .box{
        flex-direction: column;
    }
    .all h1 {
        font-size: 32px;

    }
    .all p
    {
        font-size:20px;
       
    }
    .all button{
        width: 100%;
        
    }
    .jordan{
        display: none;
    }
    
    .cont{
      
      
    }
    .surat{
        width: 100%;
        margin-top: 40px;
    }
    .Ellipse, .elk, .hj
    {
        display: none;
    }
    .fox1, .fox2, .fox3{
        flex-direction: column;
        padding: 10px;
    }
    .fox{
        margin: 0;
        padding: 10px;
    }
    .kl{
        display: none;
    }
    .cont2{
        position: relative;
    }
    .lo{
        position: absolute;
        z-index: 1;
        top: 300px;
    }
    .aion{
        display: block;
        position: absolute;
        top: 305px;
        left: 300px;
    }
    .fox5{
        margin-right: 20px;
    }
    .pos{
        display: none;
    }
    .beef{
        text-align: start;
        margin: 0;
        padding: 10px;
        
        
    }
    .fox8{
        flex-direction: column;
        margin-top: 50px;
    }
    .fox6{
        width: 300px;
        height: 654px;
        margin-left: 30px;
    }
    .btn{
        margin-left: 30px;
        width: 80%;
    }
    .fox9{
        margin: 0 10px;
    }
    .butn{
        flex-wrap: wrap;
    }
    .fox10{
       display: none;
    
        
    }
    .you{
        margin-left: 40px;
        margin-top: 50px;
        display: block;
    }
    

    
}