*{
    margin: 0;
}
body{
    background-color:  #FBFBFB;
}
.header{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.text{
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
    z-index: 1;
    
}
select{
    border: none;
}
.header button{
    width: 230px;
    height: 60px;
    color: white;
    background-color: #5EB083;
    border-radius: 20px;
    border: none;
    position: relative;
    z-index: 1;
}
.header span{
    font-size: 30px;
    color: #5EB083;
}
.icon{
    display: none;
}
.logo1{
    display: none;
}
.all button{
    width: 230px;
    height: 60px;
    color: white;
    background-color: #FFBB8A;
    border-radius: 20px;
    border: none;
}
.box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.all h1{
    font-size: 70px;
}
.all span{
    color: #5EB083;
}
.all p{
    font-size: 25px;
}
.gor{
    color: #CAD3E0;
}
.all{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 100px;
    margin-top: 100px;
    
}
.jpg{
    position: absolute;
    top: 1px;
    left: 796px;
}
.cont{
    display: flex;
    margin-top: 200px;
    justify-content: space-around;
}
.fox1{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
}
.cont1{
    margin-top: 100px;
}
.cont1 h1{
    font-size: 50px;
}
.fox{
    display: flex;
    flex-direction: column;
    margin-left: 150px;

}
.imag{
    
}
.Ellipse{
    position: absolute;
    top: 1050px;
    left: 1400px;
    z-index: -1;
}
.fox2{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;
}
.elk{
    position: absolute;
    top: 1800px;
    left: 60px;
    z-index: -1;
}
.fox3{
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;
}
.hj{
    position: absolute;
    left: 1400px;
    top: 2250px;
    z-index: -1;
}
.fox5{
        width: 300px;
        height: 300px;
        text-align: center;
        position: relative;
    

        
    }
    .fox4{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
    }
    .iu{
        width: 295px;
        height: 295px;
        border-radius: 20px;
    }
    .byd{
        width: 300px;
        height: 320px;
       position: absolute;
       top: 1px;
       left: 1px;
        border-radius: 20px;
    }
    .donfeng
    {
        position: absolute;
        top: 110px;
        left: 40px;
    }
    .cont2{
        text-align: center;
        margin-top: 100px;
        font-family: sans-serif;
        height: 550px;
    }
    .hov:hover
    {
        color: #5EB083;
        cursor: pointer;
    }
    .aion{
        display: none;
    }
    .fox6{
        width: 600px;
        height: 469px;
        background-color: #FFFFFF;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding: 10px;
    }
    .fox7{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .btn{
        width: 182px;
        height: 75px;
        color: white;
        background-color: #5EB083;
        border-radius: 30px;
        border: none;
    }
    .fox8{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
   .beef{
    margin: 50px 220px;
   }
   .cont3{
    margin-top: 0px;
   }
   .pos{
    position: absolute;
    top: 3600px;
    left: 100px;
    z-index: -1;
   }
   .butn button{
        background-color: #E7EEFA;
        border-radius: 20px;
        width: 148px;
        height: 48px;
        border: none;
    }
    .butn{
        display: flex;
        gap: 30px;
    }
    .cont4{
        margin-top: 50px;
        position: relative;
    }
    .fox10{
        height: 643px;
        width: 80%;
        background-color: #FFFFFF;
        border-radius: 20px;
        margin: auto;
        display: flex;
        margin-top: 50px;
        
    }
    .fox9{
        margin-left: 180px;
    }
    .fox11{
        width: 295px;
        height: 643px;
        background-color: #32333D;
        box-sizing: border-box;
        padding: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .foxer{
        width: 221px;
        height: 43px;
        background-color: white;
        border-radius: 12px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 10px;
        align-items: center;
    }
    .kjk{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .foxer1{
        width: 221px;
        height: 43px;
        background-color: transparent;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 4px;
        gap: 10px;
        color: #82859E;
    }
.foxer2{
    width: 221px;
    height: 54px;
    background-color: #272831;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
    margin-top: 200px;
    box-sizing: border-box;
    padding: 20px;
}
.foxer3{
    width: 221px;
    height: 54px;
    background-color: #272831;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px
    
}
.foxer6{
    width: 250px;
    height: 308px;
    background-color: #E5EDFA;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
   
}
.foxer7{
    width: 250px;
    height: 308px;
    background-color: #FFEDDF;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
   
}
.foxer8{
    width: 250px;
    height: 308px;
    background-color:#EDFFF5 ;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
   
}
.foxer5{
    display: flex;
    gap: 40px;
}
.fox10{
    display: flex;
    align-items: center;
    gap: 40px;
}
.btn2{
    width: 103px;
    height: 51px;background-color: #5EB083;
    color: white;
    border-radius: 30px;
    border: none;
}
.btn3{
    width: 103px;
    height: 51px;background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
}
.posi{
    width: 221px;
    height: 37px;
    background-color: #272831;
    border-radius: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 320px;
    left: 1200px;

}
.you{
    display: none;
}
.cont5 button{
    width: 230px;
    height: 60px;
    color: white;
    background-color: #FFBB8A;
    border-radius: 20px;
    border: none;
}
.hor{
    
    text-align: center;
}
.cont5{
    margin-top: 50px;
}
.horror{
    height: 500px;
   background-color: #f6e9df76;
   border-radius: 20px;
   width: 70%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.photo{
    position: absolute;
    left: 700px;
    z-index: -1;
    top: 1px;
}
.photo1{
    position: absolute;
    top: 400px;
    left: 1050px;
}
.karta{
    width: 310px;
    height: 440px;
    background-color: white;
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     
    
}
.aqua{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.karta span{
    padding: 15px;background-color: #E4ECF9;
    border-radius: 12px;
}
.foto:hover{
     filter: invert(42%) sepia(98%) saturate(400%) hue-rotate(80deg);
    color: #5EB083;
    cursor: pointer;
}
.top{
    margin: 30px 250px;
    font-size: 40px;
}
.rox{
    width: 80%;
    background-color: white;
    height: 77px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 20px;
}
.rox1{
    width: 80%;
    height: 210px;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.rox1 span{
    font-size: 30px;
    color: #5EB083;
}
.cont6{
   margin-left: 280px;
   margin-top: 100px;
}
.zoro{
    display: none;
}